<div id="home">
	<div class="toolbar"><h1>Infobase</h1></div>
  <!-- <ul class="rounded">
    <li class="arrow"><a href="#people">Search for people</a></li>
  </ul>
</div>
<div id="people">
  <div class="toolbar">
    <h1>Search by Name or Email</h1>
    <a class="button back" href="#browse">Home</a>
  </div> -->
	<%= form_tag(search_people_path, :id => 'search_form', :class => 'form') do %>
  	<ul class="form search-holder metal">
  	  <li class="sep">Search by Name</li>
  		<li>
  		  <input class="search" name="name" id="name" placeholder="" type="search" autocorrect="off" autocomplete="off" autocapitalize="off">
  		  <a href="#" class="submit whiteButton">Submit</a>
  		  <%= spinner('search') %>
  		</li>
  		<li>This website is currently an experiment. If you have problems using it, please don't email us about it. That said, Enjoy!</li>
  	</ul>
  <% end %>
</div>