<div id="home">
	<div class="toolbar"><h1>Infobase</h1></div>
  <!-- <ul class="rounded">
    <li class="arrow"><a href="#people">Search for people</a></li>
  </ul>
</div>
<div id="people">
  <div class="toolbar">
    <h1>Search by Name or Email</h1>
    <a class="button back" href="#browse">Home</a>
  </div> -->
	<%= form_tag(search_people_path, :id => 'search_form', :class => 'form') do %>
  	<ul class="form search-holder metal">
  	  <li class="sep">Search by Name or Email</li>
  		<li>
  		  <input class="search" name="name" id="name" placeholder="Name" type="search" autocorrect="off" autocomplete="off" autocapitalize="off">
  		  <button type="submit" id="submit_button">Search!</button>
  		  <%= spinner %>
  		</li>
  	</ul>
  <% end %>
	<ul class="edgetoedge" id="results" style="display:none">
		<li class="sep">Search Results</li>
	</ul>
</div>