<div id="search_results">
	<div class="toolbar">
	  <h1>Search Results</h1>
		<a class="button back" href="#search">Search</a>
		<a class="button" href="#search">Home</a>
	</div>
	<ul class="rounded" id="results">
	  <% @people.each do |person| %>
		  <li class="arrow"><%= link_to(person.name_with_nick, person) %></li>
	  <% end %>
	</ul>
	<% if @total > @people.length %>
  	<ul class="edgetoedge">
  	  <li>Showing <%= @people.length %> of <%= number_with_delimiter(@total) %></li>
  	</ul>
	<% end %>
</div>
<script type="text/javascript" charset="utf-8">
  // $('#spinner').hide();
  // $('#submit_button').show()
</script>